.side_Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  .user_Profile {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .user{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      font-size: 12px;
     
    }
    .image_Container{
     margin-right: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

    }
  }
  .menu{
    width: 100%;
  }
}
